@font-face {
  font-family: cadillac;
  src: url(src/cadillac.ttf);
}

body {
  margin: 0;
  color: rgb(255, 242, 218);
  background-color: rgb(87, 87, 87);
  gap: 30px;
}
header {
  margin-top: 2%;
  font-family: cadillac;
  font-size: 450%;
}
header,
.footer {
  justify-self: flex-end;
}
.footer {
  margin-top: auto;
  margin-bottom: 1%;
}
#add {
  color: rgb(92, 92, 92);
  font-size: 100%;
  font-weight: bold;
  background-color: rgb(0, 201, 236);
  cursor: pointer;
  border: none;
  /* border-radius: 60%; */
  padding: 1%;
  padding-left: 3%;
  padding-right: 3%;
}
#add:hover {
  color: rgb(54, 54, 54);
  background-color: rgb(85, 139, 255);
}
.main {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: center;
  gap: 2%;
}
.card {
  height: 42vh;
  width: 18vw;
  background-color: white;
  border: 5px solid rgb(77, 77, 77);
}
.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}
.add-form {
  position: absolute;
  height: 50%;
  width: 100%;
  justify-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to right, #f9f645, #f72edf);
}
#form1 {
  color: black;
  height: 80%;
  width: 50%;
  display: flex;
  flex-direction: column;
}
#form1 > * {
  font-size: 1.2rem;
}
#submit-form1 {
  margin-top: auto;
  background-color: rgb(255, 199, 199);
  cursor: pointer;
}
#submit-form1:hover {
  background-color: red;
  cursor: pointer;
}
.invis {
  display: none;
}
