@font-face {
  font-family: cadillac;
  src: url(src/cadillac.ttf);
}

body {
  margin: 0;
  color: rgb(255, 242, 218);
  background-color: rgb(87, 87, 87);
  gap: 30px;
}
header {
  margin-top: 2%;
  font-family: cadillac;
  filter: drop-shadow(5px 5px 0.8rem #f2ff35);
  font-size: 450%;
}
header,
.footer {
  justify-self: flex-end;
}
.footer {
  font-weight: bolder;
  margin-top: auto;
  margin-bottom: 1%;
}
.footer:hover {
  color: black;
  cursor: pointer;
}
#add {
  color: rgb(92, 92, 92);
  font-size: 100%;
  font-weight: bold;
  background-color: rgb(0, 201, 236);
  cursor: pointer;
  border: none;
  /* border-radius: 60%; */
  padding: 1%;
  padding-left: 3%;
  padding-right: 3%;
}
#add:hover {
  color: rgb(54, 54, 54);
  background-color: rgb(85, 139, 255);
}
.main {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: center;
}
.card {
  height: 42vh;
  width: 18vw;
  color: black;
  background-color: rgb(160, 157, 111);
  border: 5px solid rgb(255, 255, 255);
  display: flex;
  overflow-wrap: break-word;
  word-wrap: break-word;
  flex-direction: column;
  align-items: center;
}
.card > * {
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}
.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}
.add-form {
  position: absolute;
  top: 30%;
  z-index: 5;
  height: 50%;
  width: 80%;
  justify-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  background-image: linear-gradient(to right, #f9f645, #f72edf);
}
#form1 {
  color: black;
  height: 80%;
  width: 50%;
  display: flex;
  flex-direction: column;
}
#form1 > * {
}
#submit-form1 {
  margin-top: auto;
  background-color: rgb(199, 225, 255);
  cursor: pointer;
}
#submit-form1:hover {
  background-color: rgb(220, 218, 255);
  cursor: pointer;
}
.invis {
  display: none;
}
.title {
  color: gold;
  filter: drop-shadow(1px 1px 0.5rem black);
  font-weight: bold;
  font-size: 3rem;
  margin-top: 10%;
}
.director {
  color: black;
  font-size: 2rem;
}
.year {
  color: black;
  font-size: 2rem;
  font-weight: bold;
}
.watch-button {
  background: none;
  background-color: beige;
  border: none;
  font-size: 75%;
  margin-top: auto;
  height: 10%;
  width: 30%;
  cursor: pointer;
  margin-bottom: 4%;
}
.watch-button:hover {
  background-color: rgb(255, 255, 237);
  filter: drop-shadow(-2px 2px 0.2rem black);
}
.watched {
  font-size: 1.2rem;
}
.delete {
  width: 4rem;
  height: 4rem;
  background: none;
  background-image: url(src/x.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 3rem;
  margin-bottom: 5%;
  border: none;
  cursor: pointer;
}
.delete:hover {
  filter: drop-shadow(0 0 0.4rem rgb(170, 0, 34));
}
